<div class="container">

	<div class="col-sm-9">
		<span class="label label-info"><%= numberOfStories %> stories</span>
		<button class="btn btn-primary disabled pull-right">New story</button>

		<div id="stories-container"></div>
	</div>

	<!-- Side bar -->
	<div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Authors</h3>
			</div>
			<div class="panel-body">
				Authors come here
			</div>
		</div>
	</div><!-- /Side bar -->

</div>