<div class="row">

	<div class="alert alert-warning alert-dismissible hide" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>Information!</strong> There is no story to display.
	</div>

	<div class="col-sm-9">
		<div class="header-bar">
			<span class="label label-info"><%= numberOfStories %> stories</span>
			<button class="btn btn-primary disabled pull-right">New story</button>
		</div>
		<div class="clearfix"></div>

		<div id="stories-container"></div>
	</div>

	<!-- Side bar -->
	<div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Authors <span class="badge pull-right"><%= _.size(authors) %></span></h3>
			</div>
			<div class="panel-body">
				<!-- Loop over the authors -->
				<ul>
					<% _.each(authors, function(a){ %>
						<li><a href="#posts/author/<%= _.slugify(a.attributes.author) %>"><%= a.attributes.author %></a></li>
					<% }) %>
				</ul><!-- /Loop over the authors -->
			</div>
		</div>
	</div><!-- /Side bar -->

</div>